.products {
  width: 100%;
}

.products > div {
  width: 100%;
}

.products > div > .product {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  width: 100%;
  min-height: 110px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.products > div:last-child > .product {
  border-bottom: none;
}

.products .product-image {
  padding: 16px;
}

.products .product-description {
  padding: 16px;
}

.products .product-cta {
  padding: 16px;
}

.products .product-image img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (width <= 768px) {
  .products > div > .product {
    grid-template-columns: 1fr;
  }

  .products .product-image,
  .products .product-description,
  .products .product-cta {
    padding: 12px 16px;
  }
}