.products > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 18px 0;
  border-bottom: 1px solid #999;
}

.products img {
  max-width: 100%;
}

.products > div > div {
  order: 1;
}

.products > div > .columns-img-col {
  order: 0;
}

.products > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .products > div {
    align-items: center;
    flex-direction: row;
    gap: 24px;
  }

  .products > div > div {
    flex: 1;
    order: 0;
  }

  .products > div > div:last-child {
    text-align: right;
  }

  .products > div > .products-column {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .products > div > .products-column > .products-image-cell {
    flex: 0 0 30%;
  }

  .products > div > .products-column > .products-text-cell {
    flex: 1;
  }

  .products > div > .products-column > .products-cta-cell {
    flex: 0 0 auto;
    margin-left: auto;
  }
}
