.product-showcase > div {
  display: flex;
  flex-direction: column;
}

.product-showcase img {
  width: 100%;
}

.product-showcase > div > div {
  order: 1;
}

.product-showcase > div > .product-showcase-image {
  order: 0;
}

.product-showcase > div > .product-showcase-image img {
  display: block;
}

@media (width >= 900px) {
  .product-showcase > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .product-showcase > div > div {
    flex: 1;
    order: unset;
  }
}